@charset "UTF-8";
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------------*/
html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 10;
}

.top-nav {
  background-color: #4B565E;
  font-size: 16px;
  color: #F9FAFB;
}
.top-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-nav__left-part-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.top-nav__icon-img {
  margin: 20px 40px 20px 0;
}
.top-nav__main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-nav__main-menu a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  margin: 0;
}
.top-nav__main-menu a:not(:last-child) {
  margin-right: 24px;
}
.top-nav__right-part-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.top-nav__contact {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}
.top-nav__contact img {
  margin-right: 10px;
}
.top-nav__favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px 0 20px;
}
.top-nav__card {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
  border: solid;
  border-radius: 50px;
  border-color: #F0BA4E;
  border-width: 1px;
}
.top-nav__card-status {
  margin: 10px 10px 10px 0;
}
.top-nav__card-img {
  margin: 10px;
}

.bottom-nav {
  background-color: #F0BA4E;
}
.bottom-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
}
.bottom-nav__lefr-part-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.bottom-nav__catalog, .bottom-nav__catalog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3C3C3B;
  font-weight: 600;
}
.bottom-nav__catalog a, .bottom-nav__catalog-navigation a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}
.bottom-nav__catalog-navigation a:not(:last-child) {
  margin-right: 24px;
}
.bottom-nav__catalog-text {
  margin-left: 10px;
  margin-right: 24px;
}
.bottom-nav__right-part-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.bottom-nav__product-search-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-nav__product-search-input {
  color: rgba(75, 86, 94, 0.6);
  font-size: 16px;
  font-weight: 400;
  background-color: #F0BA4E;
  width: 100%;
}
.bottom-nav__product-search {
  width: 400px;
  border-bottom: 1px solid #3C3C3B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 24px;
}
.bottom-nav__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottom-nav__location-place {
  margin-left: 4px;
  color: #FFFFFF;
  font-weight: 500;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fbfbfb;
}
.main__preview {
  height: 720px;
  background-image: url("../src/img/main-background.png");
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background: rgba(75, 86, 94, 0.6);
  pointer-events: none;
  -webkit-clip-path: polygon(0 0, 0 100%, 69% 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 69% 100%, 100% 0);
}
.main__preview-title {
  width: 100%;
}
.main__preview-title-text {
  font-size: 40px;
  font-weight: 700;
  color: #F0BA4E;
  position: relative;
  z-index: 1;
}
.main__profits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__profit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 28px 14px 28px 14px;
}
.main__profit:last-child {
  margin-right: 0px;
}
.main__profit:first-child {
  margin-left: 0px;
}
.main__profit-description {
  font-weight: 500;
  font-size: 18px;
  color: #A1A0A0;
  padding: 3px 0 3px 0;
  margin-left: 16px;
}
.main__profit-description span {
  color: #3C3C3B;
}
.main__category-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
}
.main__category-tiles-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-bottom: 16px;
}
.main__category-tiles-pagination p {
  font-size: 16px;
  color: #A1A0A0;
  letter-spacing: 16px;
}
.main__category-tiles-pagination p::first-letter {
  color: #F0BA4E;
}
.main__category-tile-column {
  width: 421px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 28px;
}
.main__category-tile-column:last-child {
  margin-right: 0;
}
.main__category-tile {
  margin-bottom: 28px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(60, 60, 59, 0.0705882353);
          box-shadow: 0px 20px 50px 0px rgba(60, 60, 59, 0.0705882353);
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
}
.main .category-tile__title p {
  font-size: 28px;
  font-weight: 600;
  color: #3C3C3B;
  padding: 16px;
}
.main .category-tile__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .category-tile__img {
  overflow: hidden;
}
.main .category-tile__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .category-tile__catalog-link {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #3C3C3B;
}
.main__popular-goods {
  margin-bottom: 56px;
}
.main__goods-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, right top, from(#F6F6F6), to(#F6F6F6));
  background: linear-gradient(90deg, #F6F6F6 0%, #F6F6F6 100%);
  margin-bottom: 56px;
}

.arrow-frame {
  border: solid;
  border-radius: 80px;
  border-color: #F0BA4E;
  border-width: 1px;
}

.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 10px;
}

.arrow::before,
.arrow::after {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  content: "";
}

.arrow::before {
  top: 10px;
  left: 0;
  width: 20px;
  height: 1px;
  background-color: #000000;
}

.arrow::after {
  width: 5px;
  height: 5px;
  top: 8px;
}

.arrow::after {
  right: 0;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.arrow:hover::before {
  background-color: black;
}

.arrow:hover::after {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

.action-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.action-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.popular-goods__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular-goods__title p {
  font-weight: 500;
  font-size: 28px;
  color: #000000;
}
.popular-goods__title a {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #F0BA4E;
}
.goods-carousel__tile {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.0784313725);
          box-shadow: 0px 20px 50px 0px rgba(18, 17, 39, 0.0784313725);
  margin-top: 34px;
  margin-right: 28px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.goods-carousel__tile:last-child {
  margin-right: 0;
}
.goods-carousel__content {
  margin: 24px;
}
.goods-carousel__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.goods-carousel__discount {
  cursor: pointer;
  background-color: #FA5D69;
  border-radius: 61px;
  border: 1px solid #FA5D69;
  padding: 10px 20px 10px 20px;
}
.goods-carousel__discount p {
  color: #FFFFFF;
}
.goods-carousel__favorite {
  cursor: pointer;
}
.goods-carousel__goods-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.goods-carousel__goods-photo {
  overflow: hidden;
}
.goods-description__title {
  font-weight: 600;
  font-size: 20px;
  color: #3C3C3B;
  margin-bottom: 8px;
}
.goods-description__article {
  font-weight: 500;
  font-size: 16px;
  color: #3C3C3B;
  margin-bottom: 20px;
}
.goods-description__price-title {
  font-weight: 500;
  font-size: 16px;
  color: #A1A0A0;
}
.goods-description__price-title p {
  margin-bottom: 6px;
}
.goods-description__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.goods-description__old-price {
  font-weight: 600;
  font-size: 16px;
  color: #3C3C3B;
  text-decoration-line: line-through;
  margin-right: 16px;
}
.goods-description__actual-price {
  font-weight: 600;
  font-size: 20px;
  color: #3C3C3B;
}
.goods-description__count-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.goods-description__count-title {
  font-weight: 500;
  font-size: 16px;
  color: #3C3C3B;
}
.goods-description__count {
  font-weight: 500;
  font-size: 20px;
  color: #3C3C3B;
}
.goods-description__batton {
  cursor: pointer;
  border-radius: 54px;
  border: 1px solid #F0BA4E;
}
.goods-description__batton p {
  padding: 14px 28px 14px 28px;
}

.tools__description {
  margin: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tools__title {
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.tools__explanation {
  font-weight: 400;
  font-size: 20px;
  color: #A1A0A0;
}
.tools__link {
  font-weight: 600;
  font-size: 18px;
  color: #F0BA4E;
}
.tools__image {
  margin-right: 16px;
}

.footer {
  background-color: #4B565E;
  text-align: center;
  position: sticky;
}