@charset "UTF-8";
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------------------------------------------*/
html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

.header {
  position: sticky;
  top: 0px;
  z-index: 10;
}

.top-nav {
  background-color: #4B565E;
  font-size: 16px;
  color: #F9FAFB;
}
.top-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-nav__left-part-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.top-nav__icon-img {
  margin: 20px 40px 20px 0;
}
.top-nav__main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-nav__main-menu a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  margin: 0;
}
.top-nav__main-menu a:not(:last-child) {
  margin-right: 24px;
}
.top-nav__right-part-main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.top-nav__contact {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}
.top-nav__contact img {
  margin-right: 10px;
}
.top-nav__favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 40px 0 20px;
}
.top-nav__card {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
  border: solid;
  border-radius: 50px;
  border-color: #F0BA4E;
  border-width: 1px;
}
.top-nav__card-status {
  margin: 10px 10px 10px 0;
}
.top-nav__card-img {
  margin: 10px;
}

.bottom-nav {
  background-color: #F0BA4E;
}
.bottom-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
}
.bottom-nav__lefr-part-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.bottom-nav__catalog, .bottom-nav__catalog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3C3C3B;
  font-weight: 600;
}
.bottom-nav__catalog a, .bottom-nav__catalog-navigation a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}
.bottom-nav__catalog-navigation a:not(:last-child) {
  margin-right: 24px;
}
.bottom-nav__catalog-text {
  margin-left: 10px;
  margin-right: 24px;
}
.bottom-nav__right-part-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.bottom-nav__product-search-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottom-nav__product-search-input {
  color: rgba(75, 86, 94, 0.6);
  font-size: 16px;
  font-weight: 400;
  background-color: #F0BA4E;
  width: 100%;
}
.bottom-nav__product-search {
  width: 400px;
  border-bottom: 1px solid #3C3C3B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 24px;
}
.bottom-nav__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bottom-nav__location-place {
  margin-left: 4px;
  color: #FFFFFF;
  font-weight: 500;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #FFFFFF;
}
.main__preview {
  height: 720px;
  background-image: url("../src/img/main-background.png");
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__preview::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background: rgba(75, 86, 94, 0.6);
  pointer-events: none;
  -webkit-clip-path: polygon(0 0, 0 100%, 69% 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 69% 100%, 100% 0);
}
.main__preview-title {
  width: 100%;
}
.main__preview-title-text {
  font-size: 40px;
  font-weight: 700;
  color: #F0BA4E;
  position: relative;
  z-index: 1;
}

.footer {
  background-color: #4B565E;
  text-align: center;
  position: sticky;
}