@import "nullstyle.scss";

html,
body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.header {
    position: sticky;
    top: 0px;
}

.top-nav {
    background-color: #4B565E;
    font-size: 16px;
    color: #F9FAFB;
    &__container {
        display: flex;
        justify-content: flex-start;
    }
    &__icon-img {
        margin: 20px 40px 20px 0;
    }
    &__main-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
            color: inherit;
            text-decoration: none;
            font-weight: 600;
            margin: 0;
        }
    }
    &__main-menu a:not(:first-child) {
        margin-right: 502px;
    }
    &__main-menu a:not(:last-child) {
        margin-right: 24px;
    }
    &__contact {
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0 40px;
        img {
            margin-right: 10px;
        }
    }

    &__favorites {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 40px;
    }
    &__card {
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 16px 0;
        border: solid;
        border-radius: 50px;
        border-color: #F0BA4E;
        border-width: 1px;

    }
    &__card-status {
        margin: 10px 10px 10px 0;
    }
    &__card-img {
        margin: 10px;
    }
}

.bottom-nav {
    background-color: #F0BA4E;
}

.main {
    flex-grow: 1;
    background-color: #FFFFFF;

}

.footer {
    background-color: #4B565E;
    text-align: center;
    // position: sticky;
}
