@import "nullstyle.scss";

html,
body {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    margin: 0px auto;
}

.header {
    position: sticky;
    top: 0px;
    z-index: 10;
}

.top-nav {
    background-color: #4B565E;
    font-size: 16px;
    color: #F9FAFB;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__left-part-main-menu {
        display: flex;
        justify-content: left;
    }
    &__icon-img {
        margin: 20px 40px 20px 0;
    }
    &__main-menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
            color: inherit;
            text-decoration: none;
            font-weight: 600;
            margin: 0;
        }
    }
    // &__main-menu a:not(:first-child) {
    //     margin-right: 0px;
    // }
    &__main-menu a:not(:last-child) {
        margin-right: 24px;
    }
    &__right-part-main-menu {
        display: flex;
        justify-content: right;
    }
    &__contact {
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 0 20px;
        img {
            margin-right: 10px;
        }
    }
    &__favorites {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 40px 0 20px;
    }
    &__card {
        font-weight: 500;
        display: flex;
        align-items: center;
        margin: 16px 0;
        border: solid;
        border-radius: 50px;
        border-color: #F0BA4E;
        border-width: 1px;

    }
    &__card-status {
        margin: 10px 10px 10px 0;
    }
    &__card-img {
        margin: 10px;
    }
}

.bottom-nav {
    background-color: #F0BA4E;
    &__container {
        display: flex;
        justify-content: space-between;
        height: 48px;
    }
    &__lefr-part-menu {
        display: flex;
        justify-content: left;
    }
    &__catalog,
    &__catalog-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        color:#3C3C3B;
        font-weight: 600;
        a {
            color: inherit;
            text-decoration: none;
            margin: 0;
        }
    }
    &__catalog-navigation a:not(:last-child) {
        margin-right: 24px;
    }
    &__catalog-text {
        margin-left: 10px;
        margin-right: 24px;
    }
    &__right-part-menu {
        display: flex;
        justify-content: right;
    }
    &__product-search-location {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__product-search-input {
        color: #4B565E99;
        font-size: 16px;
        font-weight: 400;
        background-color: #F0BA4E;
        width: 100%;
    }
    &__product-search {
        width: 400px;
        border-bottom: 1px solid #3C3C3B;
        display: flex;
        justify-content: space-between;
        margin-right: 24px;
    }
    &__location {
        display: flex;
        justify-content: center;
    }
    &__location-place {
        margin-left: 4px;
        color: #FFFFFF;
        font-weight: 500;

    }
}

.main {
    flex-grow: 1;
    background-color: #fbfbfb;
    &__preview {
        height: 720px;
        background-image: url('../src/img/main-background.png') ;
        position: relative;
        display: flex;
        align-items: center;
    }
    &__preview::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 55%;
        height: 100%;
        background: rgba(75, 86, 94, 0.6);
        pointer-events: none;
        clip-path: polygon(0 0, 0 100%, calc(100% - 31%) 100%, 100% 0);
    }
    &__preview-title {
        width: 100%;

    }
    &__preview-title-text {
        font-size: 40px;
        font-weight: 700;
        color: #F0BA4E;
        position: relative;
        z-index: 1;
    }

    &__profits {
        display: flex;
    }

    &__profit {
        display: flex;
        margin: 28px 14px 28px 14px;
    }
    &__profit:last-child {
        margin-right: 0px;
    }
    &__profit:first-child {
        margin-left: 0px;
    }

    &__profit-icon {
    }

    &__profit-description {
        font-weight: 500;
        font-size: 18px;
        color: #A1A0A0;
        padding: 3px 0 3px 0;
        margin-left: 16px;
        span {
            color: #3C3C3B;
        }
    }

    &__category-tiles {
        display: flex;
        justify-content: center;
        margin-bottom: 28px;
    }

    &__category-tiles-pagination {
        display: flex;
        justify-content: right;
        margin-bottom: 16px;
        p {
            font-size: 16px;
            color: #A1A0A0;
            letter-spacing: 16px;
        }
        p::first-letter {
            color:#F0BA4E;
        }
    }

    &__category-tile-column {
        width: 421px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin-right: 28px;
    }
    &__category-tile-column:last-child{
        margin-right: 0;
    }

    &__category-tile {
        margin-bottom: 28px;
        background-color: #FFFFFF;
        box-shadow: 0px 20px 50px 0px #3C3C3B12;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: hidden;
    }

    .type-1 {

    }
    .type-2 {
        
    }
    .type-3 {
        
    }
    .type-4 {
        
    }

    .category-tile {
        &__title {
            // flex: 0 1 33.333%;
            p {
                font-size: 28px;
                font-weight: 600;
                color: #3C3C3B;
                padding: 16px;
            }
        }
        &__description {
            display: flex;
            justify-content: center;
        }
        
        &__img {
            overflow: hidden;

        }
        &__action {
            display: flex;
            align-items: center;
        }
        &__catalog-link {
            margin-right: 10px;
            font-size: 14px;
            font-weight: 400;
            color: #3C3C3B;
        }
    }

    &__popular-goods {
        margin-bottom: 56px;
    }

    &__goods-carousel {
        display: flex;
    }

    &__tools {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(90deg, #F6F6F6 0%, #F6F6F6 100%);
        margin-bottom: 56px;

    }
}

.arrow-frame {
    border: solid;
    border-radius: 80px;
    border-color: #F0BA4E;
    border-width: 1px;  

}

.arrow {
    display: inline-flex;
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 10px;
}
  
.arrow::before,
.arrow::after {
    display: inline-flex;
    position: absolute;
    content: '';
}
  
.arrow::before {
    top: 10px;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: #000000; 
}
  
.arrow::after {
    width: 5px;
    height: 5px;
    top: 8px;
}
  
.arrow::after {
    right: 0;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    transform: rotate(135deg);
}
  
.arrow:hover::before {
    background-color: black; 
}
  
.arrow:hover::after {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.action-right {
    justify-content: end;
}
.action-left {
    justify-content: start;
}

.profit-description {

    &__text {
    }

    &__text-bold {
    }
}

.popular-goods {

    &__title {
        display: flex;
        justify-content:space-between;
        p {
            font-weight: 500;
            font-size: 28px;
            color: #000000;
        }
        a {
            font-weight: 600;
            font-size: 18px;
            text-decoration: none;
            color: #F0BA4E;
        }
    }

    &__title-link {
    }
}
.goods-carousel {

    &__tile {
        background-color: #FFFFFF;
        box-shadow: 0px 20px 50px 0px #12112714;
        margin-top: 34px;
        margin-right: 28px;
        flex: 1 1 auto;
    }
    &__tile:last-child {
        margin-right: 0;
    }
    &__content {
        margin: 24px;
    }

    &__icons {
        display: flex;
        justify-content: space-between;
    }

    &__discount {
        cursor: pointer;
        background-color: #FA5D69;
        border-radius: 61px;
        border: 1px solid #FA5D69;
        padding: 10px 20px 10px 20px;
        p {
            color: #FFFFFF;
        }
    }

    &__favorite {
        cursor: pointer;
    }

    &__favorite-icon {
    }

    &__goods-img {
        display: flex;
        justify-content: center;
    }

    &__goods-photo {
        overflow: hidden;
    }

    &__goods-description {
    }
}
.goods-description {

    &__title {
        font-weight: 600;
        font-size: 20px;
        color: #3C3C3B;
        margin-bottom: 8px;
    }

    &__article {
        font-weight: 500;
        font-size: 16px;
        color: #3C3C3B;
        margin-bottom: 20px;
    }

    &__price-title {
        font-weight: 500;
        font-size: 16px;
        color: #A1A0A0;
        p {
            margin-bottom: 6px;
        }
    }
    &__prices {
        display: flex;
        margin-bottom: 20px;
    }

    &__old-price {
        font-weight: 600;
        font-size: 16px;
        color: #3C3C3B;
        text-decoration-line: line-through;
        margin-right: 16px;
    }

    &__actual-price {
        font-weight: 600;
        font-size: 20px;
        color: #3C3C3B;
    }

    &__count-area {
        display: flex;
        justify-content: space-between;
    }

    &__count-title {
        font-weight: 500;
        font-size: 16px;
        color: #3C3C3B;
    }

    &__count {
        font-weight: 500;
        font-size: 20px;
        color: #3C3C3B;
    }

    &__batton {
        cursor: pointer;
        border-radius: 54px;
        border: 1px solid #F0BA4E;
        p {
            padding: 14px 28px 14px 28px;
        }
    }
}
.tools {

    &__description {
        margin: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        font-weight: 500;
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__explanation {
        font-weight: 400;
        font-size: 20px;
        color: #A1A0A0;
    }
    &__description-bottom {

    }
    &__link {
        font-weight: 600;
        font-size: 18px;
        color: #F0BA4E;
        
    }

    &__image {
        margin-right: 16px;
    }
}

.footer {
    background-color: #4B565E;
    position: sticky;

    &__top-content {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #566169;
        margin-bottom: 34px;
    }

    &__top-content-left {
        margin-top: 34px;
        display: flex;
        flex-direction: column;
        align-items: start;
        flex: 50%;
        margin-bottom: 52px;
    }

    &__logo {
        margin-bottom: 32px;
    }

    &__contacts {
        display: flex;

    }

    &__phones {
        display: flex;
        flex-direction: column;
        margin-right: 56px;
    }

    &__phones-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF99;
    }

    &__phone-icon{
        margin-right: 12px;
        img {
            width: 24px;
            height: 24px;
            opacity: 0.6;
        }
    }

    &__phone-numbers {
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        p {
            margin-left: 70px;
            padding-bottom: 8px;
        }

    }

    &__emails {
        display: flex;
        flex-direction: column;
    }

    &__emails-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
        color: #FFFFFF99;
    }
    &__email-icon {
        margin-right: 12px;
    }
    &__email-adress {
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        p {
            margin-left: 50px;
            padding-bottom: 8px;
        }
    }

    &__top-content-right {
        border-left: 1px solid #566169;
        flex: 50%;
        padding-top: 34px;
        display: flex;
        justify-content: center;
    }
    &__top-content-right-container {
        width: 534px;
    }

    &__questions {
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
    }

    &__question-descr {
        margin-top: 12px;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF99;
        line-height: 25px;
        margin-bottom: 32px;
    }

    &__question-sending {
        display: flex;
        padding: 0px 6px 0px 24px;
        border: 1px solid #F0BA4E;
        border-radius: 30px;
        height: 48px;
        justify-content: space-between;
        align-items: center;
        input {
            font-weight: 400;
            font-size: 12px;
            color: #FFFFFF99;
            background-color: #4B565E;
        }
    }

    &__input {
        flex:content;
        margin-left: 10px;
    }

    &__question-sending-btn {
        margin-right: -2px;
        button {
            height: 38px;
            padding: 0px 38px 0px 38px;
            border: 1px solid #F0BA4E;
            border-radius: 30px;
            background-color:#F0BA4E ;
            p {
            
                color: #FFFFFF;
                font-size: 10px;
                font-weight: 700;
            }
        }
        
    }

    &__bottom {
        margin-top: 34px;
        margin-bottom: 34px;
        display: flex;
        justify-content: space-between;
    }

    &__bottom-left {
        
    }

    &__navigation {
        display: flex;
        p {
            font-size: 14px;
            font-weight: 400;
            color: #FFFFFF;
            margin-right: 28px;
        }
        p:last-child {
            margin-right: 0;
        }
    }

    &__social-media {
        display: flex;
        margin-top: 36px;
        div {
            margin-right: 20px;
        }
    }

    &__bottom-right {
        display: flex;
        align-items: flex-end;
    }

    &__copyright {
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF99;
    }
}
.container {
}
